- title("People")

%ul.breadcrumbs
  %li= link_to(current_campaign.name, current_campaign)
  %li People

%h1 People

%ol
  = list_of(@people.order("name")) do |person|
    = link_to(person.name, person)

.actions
  = link_to("New Person", new_person_path)