%h1 World Diary

%h2 Campaigns

%p
  This is a place to keep track of your campaign's people.

%table
  %thead
    %tr
      %th.num
      %th Name
      %th DM
  %tbody
    - @campaigns.each_with_index do |campaign, idx|
      %tr{:class => cycle("odd", "even")}
        %td.num
          = succeed(".") do
            = 1 + idx
        %td= link_to(campaign.name, campaign)
        %td= campaign.dm_name
