%h1 Campaigns

%table
  %thead
    %tr
      %th Name
      %th DM

  %tbody
    - @campaigns.each do |campaign|
      %tr{:class => cycle("odd", "even")}
        %td
          = link_to(campaign.name, campaign)
          = private_icon(campaign)
        %td= campaign.dm_name

.actions
  .left
    = new_button(new_campaign_path)
