%h1 Campaigns

%table
  %thead
    %tr
      %th Name
      %th DM

  %tbody
    - @campaigns.each do |campaign|
      %tr{:class => cycle("odd", "even")}
        %td= link_to(campaign.name, campaign)
        %td= campaign.dm_name

= link_to("New Campaign", new_campaign_path)